body { font-family: serif; 
	font-size: 0.85em;
}

/* Invisible Container */
[data-visible="false"]{
  display: none;
}

.numeric-display{
	text-align: left;
	width: 6em;
}

.colspan-display{
	text-align: center;
	width: 8em;
}

.item-name-display{
	text-align: left;
	width: 17em;
}

.item-index-display{
	text-align: left;
	width: 2em;
}

/* multiple classes: https://css-tricks.com/multiple-attribute-values/;
<div class="module accordion expand"></div>

All these match that
.module { }
.accordion { }
.expand { }

// Will only match if element has both
.accordion.expand { }
*/

.pull_down, .pull_up, .push_down, .push_up{
	//height: 1em;
}

button[class="pull_down"]{
	//content: "&#8595;";
}
button[class="pull_up"]{
	 //content: "&#8607;";
}
button[class="push_down"]{
	content: "&#8615;";
	//visibility: hidden;
	//height: 2em;
}

button[class="push_up"]{
	//content: "&#8613;";
}

textarea[class="main-message-area"]{
	width: 35em;
	height: 25em;
}

table[class="data-test"]{
	/*border: 1px solid black;*/
}

table tr{
	/*border: 1px solid red;*/
	height: 1em;
}

table th,td{
	/*border: 1px solid black;*/
	vertical-align: top;
}
