body { font-family: serif; 
	font-size: 1em;
}

/* Invisible Container */
[data-visible="false"]{
  display: none;
}

.numeric-display{
	text-align: left;
	width: 6em;
}

.item-name-display{
	text-align: left;
	width: 11em;
}

.item-index-display{
	text-align: center;
	width: 1em;
}

.expand-button-display{
	text-align: center;
	width: 1em;
}

.pull_down, .pull_up, .push_down, .push_up{
	//height: 1em;
}

textarea[class="main-message-area"]{
	width: 35em;
	height: 25em;
}

table[class="data-test"]{
	/*border: 1px solid black;*/
}

table tr{
	/*border: 1px solid red;*/
	height: 1em;
}

table th,td{
	/*border: 1px solid black;*/
	vertical-align: top;
}

table td [class="expanded-item-data-col"]{
	/*border: 1px solid gray;*/
	vertical-align: top;
}
table th,td [colspan="2"]{
	text-align: center;
	width: 4em;
}

table th,td [colspan="3"]{
	text-align: center;
	width: 8em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
    padding: 0px;
    margin: 6px;
}
